.card__container {
    background-color: var(--background-clr-primary);
    color: var(--text-color);
    font-family: 'Play', sans-serif;
    box-shadow: var(--box-shadow);
    font-weight: bolder;
    max-width: 190px;
    min-height: 260px;
    max-height: 260px;
    overflow: hidden;
    border-radius: 13px;
    margin-top: 2rem;
}

.card__container>img {
    width: 190px;
    height: 120px;
    object-fit: cover;
}

.card__container>.desc {
    padding: 10px 20px;
}

.card__container>.desc>h5 {
    font-size: 1rem;
    color: var(--text-color);
}

.card_column {
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 350ms ease-in-out;
}

.card_column:hover {
    transform: scale(1.03);
}